header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 14px;
    background: var(--color-primary-container);
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

}

.header-titles {
    display: flex;
    flex-direction: column;
}

.header-title {
    color: var(--color-on-primary-container);

    font-family: var(--font-plain);
    font-weight: var(--font-weight-semi-bold);
    font-display: block;
    font-size: 34px;
}

.header-subtitle {
    color: var(--color-on-primary-container);

    font-family: var(--font-plain);
    font-weight: var(500);
    font-size: 28px;
}

.header-logo {
    height: 80px;
}

.clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    width: 48px;
    height: 48px;

    color: var(--color-on-primary);
    background: var(--color-primary);
    border: none;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
}

.clear-btn:active {
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.clear-btn-icon {
    width: 24px;
    height: 24px;
}