:root {
    --font-plain: 'Inter', sans-serif;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --color-primary:  #774F83;
    --color-on-primary: #FFFFFF;
    --color-primary-container:  #FAD7FF;
    --color-on-primary-container: #5E386A;
    --color-background: #FFF7FB;
    --color-surface-variant: #EBDFE9;
    --color-outline: #7E747D;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background: var(--color-background);

    height: 100vh;

    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* TODO: Customize font family and sizes */
    /* font-family: var(--font-plain); */
    /* font-weight: var(--font-weight-regular); */
    font-size: 1rem;
    line-height: 1.5;

    padding: 0;
    margin: 0;
}